[Unit]
Description=The Byte Station Server
After=network.target

[Service]
Type=simple
Environment=ROCKET_ADDRESS=0.0.0.0
WorkingDirectory=/www/byte-station-server
ExecStart=/www/byte-station-server/server
User=oldworldboa
Group=oldworldboa
Restart=always

[Install]
WantedBy=multi-user.target
